.navbar.navbar-fixed.top
    .navbar-inner
        .container-fluid
            a.brand(href="#") ProjectName!
.container-fluid
    .row-fluid
        .span3
            .well.sidebar-nav
                ul.nav.nav-list
                    li.nav-header Section 1
                    li Subsection 1
                    li Subsection 2
                ul.nav.nav-list
                    li.nav-header Section 2
                    li Subsection 1
                    li Subsection 2
        .span9
            .well
                .hero-unit
                    h1 Welcome!
